PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/staynest

JWT_SECRET=supersecretstaynestjwtkey_change_in_production
JWT_EXPIRES_IN=7d
RESET_TOKEN_SECRET=supersecretresettokenkey_change_in_production

EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=your_ethereal_email_user
EMAIL_PASSWORD=your_ethereal_email_password
EMAIL_FROM="StayNest Team <noreply@staynest.com>"

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=cwm7jh9a
CLOUDINARY_API_KEY=964818459293686
CLOUDINARY_API_SECRET=7cj5O8n-mwrif30gQX_GWbLWkpQ
RAZORPAY_KEY_ID=rzp_test_TOpu7tlUAVV6dI
RAZORPAY_KEY_SECRET=Tq9wuVbZH63z57qA1J1irRNB